// @import './facebook/facebook-mobile';
@use "sass:math" as math;

.intro {
	color: var(--white);
	overflow: hidden;
	height: 100vh;
	position: relative;
	z-index: 1;

	.container {
		height: 100%;
		text-align: center;
	}

	aside.left {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		font-size: 1em;

		& > div {
			flex: 1;
		}

		div:nth-child(2) {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}

	.menu-list {
		text-align: right;

		li {
			display: inline-block;
			margin-right: 2em;

			a {
				font-size: 1.6em;
				font-weight: 700;
				display: block;
				padding: 2em 1em;
				transition: color 0.2s ease;
				color: var(--white);

				&:hover {
					color: var(--yellow);
					text-decoration: underline;
				}
			}

			&:last-child {
				margin-right: 0;
			}

			&:first-child {
				a {
					padding-left: 0;
				}
			}
		}
	}

	h1 {
		font-size: 5em;
		font-weight: 700;
	}

	h2 {
		font-size: 2.5em;
		opacity: 0.7;
		font-weight: 400;
	}

	@media screen and (max-width: 768px) {
		aside.left {
			font-size: 0.8em;
		}
	}
	@media screen and (max-width: 425px) {
		aside.left {
			font-size: 0.6em;
		}
	}
}

.cv-buttons {
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		color: var(--white);
		display: inline-block;
		font-size: 1.4em;
		font-weight: 700;
		padding: 0.6em;
		opacity: 0.7;
	}
}

button {
	border: none;
	font-family: inherit;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 4em;
	font-weight: 700;
	width: 12em;
	height: 3.2em;
	line-height: 3.2em;
	font-size: 1.4em;
	text-align: center;
	transition: all 0.2s ease-in-out;
	opacity: 0.94;
	transform: scale(0.99);
	overflow: hidden;

	a {
		width: 100%;
		height: 100%;
		display: inline-block;
		transition: all 0.2s ease-in-out;
	}

	&:active {
		opacity: 1;
		transform: scale(0.94);
	}

	svg {
		width: 2em;
		height: 2em;
		margin-right: 0.5em;
	}
}
.view-cv {
	a {
		color: var(--black);
		background: var(--yellow);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&:hover {
		cursor: pointer;
		a {
			color: var(--yellow);
			background: var(--black);
		}
	}
}
.download-cv {
	background: var(--white);
	color: var(--black);

	a {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&:hover {
		cursor: pointer;
		opacity: 1;
		a {
			color: var(--white);
			background: var(--black);
		}
	}
}

@keyframes dance {
	0%,
	100% {
		transform: translateY(10px);
	}

	50% {
		transform: translateY(-10px);
	}
}

.dance {
	.social-buttons {
		&:hover li {
			animation-play-state: paused;
		}

		li {
			animation: dance 0.8s ease-in-out 1 alternate;
		}
	}

	@for $i from 1 through 5 {
		.social-buttons li:nth-of-type(#{$i}) {
			animation-delay: #{math.div($i, 10)}s;
		}
	}
}

.social-buttons {
	li {
		display: inline-block;
		transform: translateY(10px);
		transition: all 0.3s linear;
	}
	a {
		display: inline-block;
		font-size: 2em;
		width: 2.6em;
		height: 2.6em;
		text-align: center;
		line-height: 2.6em;
		border-radius: 50%;
		margin-right: 0.5em;
		transition: all 0.2s ease-in-out;
		opacity: 0.94;
		transform: scale(0.99);
		background: var(--black);
		color: var(--yellow);

		svg {
			width: 1.4em;
			height: 1.4em;
			vertical-align: middle;
		}
		&:hover {
			cursor: pointer;
			opacity: 1;
			background: var(--yellow);
			color: var(--black);
		}
		&:focus {
			outline: none;
		}
		&:active {
			opacity: 1;
			transform: scale(0.94);
		}
	}
}
